# Dependency directories
node_modules/
elysia-nest

# Build outputs
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-*

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Bundle files
*.tsbuildinfo
*.js.map

# Temporary files
tmp/
temp/

# Database files
*.sqlite
*.sqlite3
*.db

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store
